@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: Poppins, sans-serif !important;
  }

  body .header {
    background: #291586;
  }

  @media screen and (min-width: 768px) {
    body .header nav {
      padding-top: 30px;
    }
  }

  body .header nav .navbar-brand {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }

  body .header nav .navigation li {
    margin-right: 16px;
  }

  body .header nav .navigation a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff !important;
  }

  body .header nav .signup {
    width: 113px;
    background: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #08090d !important;
  }

  @media screen and (max-width: 768px) {
    body .header nav .signup {
      width: 100% !important;
    }
  }

  body .header .content {
    padding-top: 90px;
  }

  body .header .content .headline {
    font-family: Poppins, sans-serif !important;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    color: #ffffff;
  }

  body .header .content .subheadline {
    font-family: Poppins, sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
  }

  body .header .content .button-header {
    margin-top: 50px;
  }

  body .header .content .button-header .btn-listing {
    width: 150px;
    height: 50px;
    background: #fecf00;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
    color: #101010;
  }

  body .header .img-brand {
    padding-top: 50;
    padding-bottom: 90px;
  }

  @media screen and (min-width: 768px) {
    body .header .img-brand {
      padding-top: 100px;
    }
  }

  @media screen and (min-width: 768px) {
    body .header .img-brand .mr-60 {
      margin-right: 60px;
    }
  }

  .content-2-3 .btn:focus,
      .content-2-3 .btn:active {
        outline: none !important;
      }

      .content-2-3 .title-text {
        padding-top: 2rem;
        margin-bottom: 3rem;
      }

      .content-2-3 .text-title {
        font: 600 2.25rem/2.5rem Poppins, sans-serif;
        margin-bottom: 0.625rem;
      }

      .content-2-3 .text-caption {
        color: #707092;
        font-weight: 300;
      }

      .content-2-3 .card {
        padding: 1.75rem;
        background-color: #292952;
        border-radius: 0.75rem;
        border: 1px solid #4c4c6d;
      }

      .content-2-3 .card-block {
        padding: 1rem 1rem 5rem;
      }

      .content-2-3 .card-title {
        font: 600 1.5rem/2rem Poppins, sans-serif;
        margin-bottom: 0.625rem;
      }

      .content-2-3 .card-caption {
        font: 300 1rem/1.5rem Poppins, sans-serif;
        color: #707092;
        letter-spacing: 0.025em;
        margin-bottom: 0;
      }

      .content-2-3 .btn-card {
        font: 700 1rem/1.5rem Poppins, sans-serif;
        background-color: #fecf00;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border-radius: 0.75rem;
        margin-bottom: 1.25rem;
        border: none;
      }

      .content-2-3 .btn-card:hover {
        --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
          var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      }

      .content-2-3 .btn-outline {
        font: 400 1rem/1.5rem Poppins, sans-serif;
        color: #fecf00;
        border: 1px solid #fecf00;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        border-radius: 0.75rem;
      }

      .content-2-3 .btn-outline:hover {
        border: 1px solid #ffffff;
        color: #ffffff;
      }

      .content-2-3 .card-text {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }

      .content-2-3 .grid-padding {
        padding: 0rem 1rem 3rem;
      }

      @media (min-width: 576px) {
        .content-2-3 .grid-padding {
          padding: 0rem 2rem 3rem;
        }

        .content-2-3 .card-block {
          padding: 3rem 2rem 5rem;
        }
      }

      @media (min-width: 768px) {
        .content-2-3 .grid-padding {
          padding: 0rem 4rem 3rem;
        }

        .content-2-3 .card-block {
          padding: 3rem 4rem 5rem;
        }
      }

      @media (min-width: 992px) {
        .content-2-3 .grid-padding {
          padding: 1rem 6rem 3rem;
        }

        .content-2-3 .card-block {
          padding: 3rem 6rem 5rem;
        }

        .content-2-3 .column {
          padding: 0rem 2.25rem;
        }
      }

      @media (min-width: 1200px) {
        .content-2-3 .grid-padding {
          padding: 1rem 10rem 3rem;
        }

        .content-2-3 .card-block {
          padding: 3rem 6rem 5rem;
        }

        .content-2-3 .card-btn-space {
          margin-top: 15px;
          margin-bottom: 15px;
        }

        .content-2-3 .btn-outline,
        .content-2-3 .btn-card {
          width: 95%;
          float: right;
        }
      }

      @media (max-width: 980px) {
        .content-2-3 .card-btn-space {
          width: 100%;
        }
      }

      .wrapper {
        padding: 40px;
        border-radius: 30px;
        background: #ffffff;
        box-shadow:  12px 12px 44px #d5d5d5, 22px 22px 44px #ffffff;
      }